
.container-detail {
    background-color: #eee;
    margin-top: 2rem;
}

.van-info {
    display: flex;
    gap: 1.5rem;
    border-radius: 6px;
}

.van-image {
    width: 100%;
    height: 400px;
    flex: 1;
}

.van-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.van-info-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    margin:  auto 0;
}

.van-info-detail .van-type {
    padding: .8rem;
    background-color: orangered;
    color: #fff;
    font-size: 1.4rem;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.van-info-detail .van-name {
    font-size: 3rem;
    color: #333;

}

.van-info-detail .van-price {
    font-size: 2rem;

}

/* ----- -------- ----- -----*/


.van-info-navi .navigation-layout {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.van-info-navi .navigation-layout a {
    font-size: 1.3rem;
    color: #333;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: #eee;
}
.detail h1, .detail h2 {
    color: #333;
}
.detail span {
    font-weight: 400;
    margin-left: .8rem;
    color: #444;
}
.detail p {
    font-size: 1.2rem;
    line-height: 1.5;
}


/* ----- -------- ----- -----*/

.pricing-content {
    background-color: #eee;
}

.pricing-content .content-price {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-price h2 {
    font-size: 1.8rem;
    color: #222;
}
.content-price span {
    font-size: 1.4rem;
    color: #333;
    margin-left: .8rem;
}


/* ----- -------- ----- -----*/
.img-container {
    display: flex;
    gap: 1rem;
    width: 60%;
    height: 30%;
    margin-left: 0;
    background-color: #eee;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}