
.hostVans-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    grid-gap: 1rem;
}

/*  Link - ancora */
.host-van-link-wrapper {
    padding: 1rem;
    text-decoration: none;   
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
}

.host-vans-single {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    
    border-radius: 5px;
     
}

.host-vans-single img {
    width: 180px;
}

.host-van-info {
    margin-left: 2rem;
}

.host-van-info h3 {
    font-size: 1.3rem;
    color: #222;
    
}

.host-van-info p {
    font-size: 1.2rem;
    color: #444;
    letter-spacing: 1px;
}

.btn-call {
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(238, 61, 7);
    margin: auto;
    color: #fff;
}