
.hostVans-list {
    border: 2px solid orangered;
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
}

.host-van-link-wrapper {
    width: 100%;
display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
    text-decoration: none;   
    display: block;
    background-color: #222;
}

.host-vans-single {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: bisque;
    border-radius: 5px;
     border: 2px solid orange;
}

.host-vans-single img {
    width: 180px;
}

.host-van-info {
    margin-left: 2rem;
}

.host-van-info h3 {
    font-size: 2rem;
    color: #222;
    
}

.host-van-info p {
    font-size: 1.2rem;
    color: #444;
    letter-spacing: 1px;
}